:root {
	--bg-color: #191b1d;
	--font-color: #ffffff;
	--header-color: #bc1e4a;
	--card-color: #22262c;
	--line-color: #43474c;
}

* {
	margin: 0;
	padding: 0;
	color: var(--font-color);
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	background: var(--bg-color);
	font-family: Arial;
}

.header {
	display: inline-flex;
	width: 250px;
	height: 55px;
	background-color: var(--header-color);
	text-align: center;
	align-items: center;
	justify-content: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.header h5 {
	margin-top: 5px;
}

.toggle {
	display: inline-flex;
	width: 40px;
	height: 20px;
	background: var(--header-color);
	border-radius: 10px;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	margin-right: 5px;
	position: relative;
	top: 3.5px;
}

.ball {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: var(--font-color);
	border-radius: 50%;
	margin-right: 4px;
}

.choose {
	padding: 0px 10px 10px 10px;
	margin-top: 50px;
	text-align: center;
}

.choose h2 {
	margin-bottom: 20px;
}

.choose .inside-choose {
	padding-bottom: 25px;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 15px;
	width: 880px;
	height: 450px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--card-color);
	border-radius: 5px;
}

.card h4 {
	margin-top: 20px;
	padding: 10px;
}

.card h2 {
	font-size: 40px;
	padding: 10px;
}

.card span{
	font-size: 15px;
}

ul li:before {
	background-color: var(--header-color);
	border-radius: 50%;
	content: "";
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 2px;
	height: 8px;
	width: 8px;
}

ul li {
	list-style: none;
	padding: 5px;
	font-size: 12px;
}

.card:first-child ul {
	margin-top: calc(85px - 25px);
}

.card:nth-child(2) ul {
	margin-top: 25px;
}

.card:last-child ul {
	margin-top: calc(110px - 25px);
}

.card:nth-child(even) .btn:nth-child(odd) {
	background-color: transparent;
	width: 250px;
	height: 60px;
	outline: none;
	border: 1px solid var(--line-color);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
}

.card p {
	color: var(--header-color);
	font-size: 12px;
	padding: 5px;
	text-align: left;
	position: relative;
	left: -40px;
}

.btn {
	cursor: pointer;
}

.card:nth-child(even) .btn:nth-child(even) {
	background-color: var(--header-color);
	width: 200px;
	height: 45px;
	outline: none;
	border: 1px solid var(--header-color);
	border-radius: 5px;	
}

.card:nth-child(odd) .btn {
	background-color: transparent;
	width: 200px;
	height: 45px;
	outline: none;
	border: 1px solid var(--header-color);
	border-radius: 5px;
}

.container {
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
}